In [6]:
import pandas
data = pandas.read_csv('data/titanic.csv', index_col='PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [10]:
data['Survived'].value_counts(normalize=True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [11]:
data['Pclass'].value_counts(normalize=True)

3    0.551066
1    0.242424
2    0.206510
Name: Pclass, dtype: float64

In [58]:
print(data['Age'].mean())
data['Age'].median()

29.69911764705882

28.0

In [25]:
data['SibSp'].corr(data['Parch'])

0.4148376986201567

In [121]:
data.loc[data['Sex'] == 'female']['Name'].str.split(',').str[1].str.split().str[1].str.replace('(', '').str.replace(')', '').value_counts()

William      13
Mary         11
Anna          9
Elizabeth     8
John          6
Thomas        6
Margaret      6
Alice         5
Frederick     5
Edward        4
James         4
Ellen         4
Helen         4
Bertha        4
Henry         3
Katherine     3
Samuel        3
Charles       3
Amelia        3
Kate          3
Annie         3
Augusta       3
Hanora        3
Joseph        3
Catherine     3
Marion        3
Sidney        2
Marie         2
Susan         2
Elsie         2
             ..
Rosalie       1
Sigrid        1
Peter         1
Lucille       1
Lyyli         1
Albina        1
Ernest        1
Julie         1
Daisy         1
Mara          1
Edwina        1
Helene        1
Robina        1
Florence      1
Frederic      1
Margareth     1
Eva           1
Elisabeth     1
Sara          1
Johan         1
Lucy          1
Edgar         1
Nicholas      1
Phyllis       1
Lucile        1
Edith         1
Fatima        1
Clear         1
Maria         1
Elise         1
Name: Name, Length: 196, dtype: int64